/************ Reset ***************/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

/************ Base ***************/
body{
    font-family: 'Roboto', sans-serif;
    
}
:root{
    scroll-behavior: smooth;
}
h2,h3{
    color: black;
}
p{
    color: #485563;
}

/************ Layout ***************/
.container{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}
/************ Navigation ***************/
.logo{
    color: #fff;
    font-weight: 800;
    margin-left: 40px;
    margin-top: 40px;
    cursor: pointer;
    text-decoration: none;
}
.hamburguer{
    position: fixed;
    top: 30px;
    right: 40px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    background: #fff;
}
.menu{
    display: flex;
    justify-content: space-between;
}
.nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translate(110%);
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    animation: ease-in 10s; 

}
.menu-opened{
    transform: translate(0);
}
nav a{
    color: #fff;
    text-decoration: none;
}
/************ Header ***************/
header{
    height: 80vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(2, 15, 32, 0.842) 0%, rgba(83, 120, 149, 0.753) 100%), url(../assets/img/banner\ dark.jpeg);
}
.main-paragraph{
    height: 50vh;
    margin: 10vh 40px;
    width: 50%;
    padding: 0;
    float: left;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: #fff;
}
.title{
    font-size: 60px;
    margin-bottom: 15px;
}
.p-header{
    font-size: 20px;
    margin-bottom: 25px;
    color: #fff;
}
.subtitle{
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 40px;
}
.subtitle__p{
    font-size: 18px;
    text-align: center;
    width: 80%;
    margin: auto;
}
/************ Features ***************/
.feature__icono-fondo{
    display: inline-block;
    background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
.features__cards{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 100px;
}
#Features .card{
    width: 30%;
}
#Features h3{ 
    margin-top: 30px;
}
#Features h2{
    font-size: 40px;
    margin-bottom: 15px;
}
#Features p{
    font-size: 18px;
    margin-bottom: 25px;
    text-align: center;
}
/************ Services ***************/
#Services{
    background: #F3F3F3;
}
.services{
    display: flex;
    justify-content: space-evenly;
    text-align: start;
    
}
.services img{
    width: 40%; 
    height: auto;
    max-width: 100%;
}
.services .checklist{
    width: 45%;
}
.services h2{
    text-align: start;
}
.services i{
    margin-right: 10px;
}
/************ Reviews ***************/
div#slider  { 
    display: flex;
    position: relative;
    overflow: hidden;
    width: 300%;
    height: 25vh;
    animation: 30s slide alternate infinite; 
}
div#slider .img{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 20%;
}
div#slider img { 
    object-fit: cover;
    object-position: center;
    width: 100px; 
    height: 100px;
    border-radius: 50%;
}

@keyframes slide {
0% { left: 0%; }
30% { left: 0%; }

35% { left: -100%; }
65% { left: -100%; }

70% { left: -200%; }
100% { left: -200%; }
}
/************ Banner2 ***************/
#banner2{
    background-image: linear-gradient(to right, rgba(218, 224, 233, 0.651) 0%, rgba(39, 72, 99, 0.384) 100%), url(../assets/img/banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}
#banner2 .text{
    float: left;
    width: 50%;
}
#banner2 .text p{
    margin-top: 1em;
}
/************ Numbers ***************/
.numbers{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 40vh;
}
.numbers h3{
    color: #485563;
}
.counter i, .counter .counter__quantity{
    font-size: 40px;
}
/************ Contact ***************/
#Contact{
    background-color: #F3F3F3;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
}    
.contact__submit{
    font-size: 0.9em;
    height: 40px;
    border: 2px solid;
    border-radius: 0 5px 5px 0;
    margin: 0;
    padding: 0 25px 0 25px;
    border-color: #4c1ecc;
    background-color: #4c1ecc;
    color: #fff;
    outline: none;
}
#email{
    background-color: #F9F9F9;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    height: 40px;
    padding: 0 60px 0 10px;
    box-shadow: none;
    box-sizing: content-box;
    transition: all .3s;
}
/************ Footer ***************/

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .logo{
    color: black;
    margin-top: 0;
}
